@import "tailwindcss";

@font-face {
  font-family: 'PermanentMarker';
  src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

body {
  background: #000000;
  color: #ffffff;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  touch-action: manipulation;
}

.polaroid-prompt {
  font-family: 'PermanentMarker', cursive;
}
